.selector, 
.properties {
    background-color: var(--bg-secondary);
    box-shadow: 
        var(--shadow-primary), 
        var(--shadow-primary-reversed);

    z-index: 1;
}

.viewport-container {
    display: grid;
    grid-template-areas: "stack";
    position: relative;
    
    background-color: var(--bg-primary);

    height: 100%;
    overflow: hidden;
}

.viewport-container > * {
    grid-area: stack;
}

.viewport {
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

.nodes,
.connections {
    position: relative;
    pointer-events: all;
}

.viewport-grid {
    pointer-events: none;
    position: absolute;
    z-index: 0;
}

.connector {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    width: 16px;
    height: 16px;
}

.connector.connected {
    fill: hsl(0, 0%, 0%) !important;
}

.connection {
    position: absolute;
    stroke: #000;
    stroke-width: 4;
    pointer-events: none;
    fill: none;
}

/* INSPECTOR */

.category {
    padding: 1.6rem 3.2rem;
    border-block: 1px solid var(--border-primary);
}

.category-body {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    gap: 1.6rem;
    
    margin-top: 2.4rem;

    font-size: 1.28rem;
    
    & input {
        width: 100%;
        background-color: transparent;
        border: none;
        text-align: right;
    }
}

.icon {
    width: 2.4rem;
    height: 2.4rem;
}

.icon.inactive,
.category-body.inactive {
    display: none;
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > h3 {
        font-weight: 500;
    }
}