* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: hsl(0, 0%, 10%);
    --bg-secondary: hsl(0, 0%, 16%);
    --bg-tertiary: hsl(0, 0%, 20%);
    --bg-quaternary-dark: hsl(0, 0%, 30%);
    --bg-quaternary: hsl(0, 0%, 40%);

    --text--primary: hsl(0, 0%, 70%);
    --text--secondary: hsl(0, 0%, 80%);
    --text--tertiary: hsl(0, 0%, 85%);

    --text-dark: hsl(0, 0%, 60%);
    --text-dark-2: hsl(0, 0%, 50%);
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 1.6rem;
}

.vertical-center { align-items: center }