* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.editor {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 20%);
    height: 100vh;
    padding: 1.75rem 2rem;
}

.editor-tabs {
    grid-row: span 2;
}

.console, 
.properties {
    background-color: #dee2e6;
}