/* NODE STYLE GENERAL DECLARATIONS */

.node {
    --node-gray: hsl(0 0% 80%);
    --node-red:  hsl(345 88% 47%);
    --node-green: hsl(145 88% 47%);
    --node-blue: hsl(209 88% 47%);

    --text--primary: hsl(0, 0%, 70%);
    --text--secondary: hsl(0, 0%, 80%);

    --text--dark: hsl(0, 0%, 5%);

    --bg-primary: hsl(0, 0%, 10%);
    --bg-secondary: hsl(0, 0%, 16%);
    --bg-tertiary: hsl(0, 0%, 20%);
}

.node {
    font-family: "Fira Code", sans-serif;
    font-size: 1.4rem;
    overflow: hidden;
}

.node_header, 
.node_body {
    width: 100%;
    border: 2px solid var(--node-color);
    padding: 1rem;
}

.node_header { 
    pointer-events: none;
    border-radius: 5px 5px 0 0;
    padding: 0.2rem 1.2rem;

    text-align: center;
    color: var(--text--dark);
}

.node_body { 
    pointer-events: none;
    background-color: var(--bg-tertiary);
    border-radius: 5px;
    width: min-content;

    color: var(--text--primary);
}

.node_body * { pointer-events: all }

/* NODE TYPE SPECIFIC DECLARATIONS */

.node__standard {
    .node_header {
        background-color: var(--node-color);
        border-bottom: none;
    }

    .node_body {
        display: grid;
        gap: 8px;

        border-top: none;
        border-radius: 0 0 5px 5px;
    }

    .row {
        display: flex;
        justify-content: space-between;
        gap: 2.4rem;
    }
}

.node__entry {
    .node_body {
        display: flex;
        gap: 8px;
    }
}

.node__condition { --node-color: var(--node-red) }
.node__entry { --node-color: var(--node-green) }
