/* NODE STYLE GENERAL DECLARATIONS */

.node {
    --node-gray: hsl(0 0% 80%);
    --node-red:  hsl(345 88% 47%);
    --node-green: hsl(145 88% 47%);
    --node-blue: hsl(209 88% 47%);

    --text--primary: hsl(0, 0%, 70%);
    --text--secondary: hsl(0, 0%, 80%);

    --text--dark: hsl(0, 0%, 5%);

    --bg-primary: hsl(0, 0%, 10%);
    --bg-secondary: hsl(0, 0%, 16%);
    --bg-tertiary: hsl(0, 0%, 20%);
}

.node {
    font-family: "Fira Code", sans-serif;
    font-size: 1.4rem;

    position: absolute;
    overflow: hidden;
    z-index: 1;
}

.node_header, 
.node_body {
    width: 100%;
    border: 2px solid var(--node-color);
    padding: 1rem;
}

.node_header { 
    pointer-events: none;
    border-radius: 5px 5px 0 0;
    padding: 0.2rem 1.2rem;

    text-align: center;
    color: var(--text--dark);
}

.node_body { 
    pointer-events: none;
    background-color: var(--bg-tertiary);
    border-radius: 5px;
    width: min-content;

    color: var(--text--primary);
}

.node_body * { pointer-events: all }
.node_body span:hover { cursor: default }

.node-input,
.node-select {
    background-color: var(--bg-secondary);
    border: 1px solid var(--text--secondary);
    border-radius: 4px;
    padding: 0 0.4rem;

    font-size: inherit;
    font-family: inherit;
    color: var(--text--secondary);

    white-space: wrap;
}

/* NODE TYPE SPECIFIC DECLARATIONS */

.node__standard {
    .node_header {
        background-color: var(--node-color);
        border-bottom: none;
    }

    .node_body {
        display: grid;
        gap: 0.8rem;

        border-top: none;
        border-radius: 0 0 5px 5px;
        width: 100%;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.4rem;
    }

    .node-input {
        width: 24rem;
        padding: 0.4rem 0.4rem;
    }

    .input-wrapper {
        display: grid;
        gap: 0.4rem;
        margin-top: 0.8rem;
    }
}

.node__headless {
    .node_body {
        display: flex;
        align-items: center;
        gap: 0.4rem;
    }

    .column {
        display: grid;
        gap: 0.8rem;
    }
}

.node__logic {
    .node_body {
        gap: 1.6rem;
    }

    .name {
        color: var(--text--secondary);
        font-size: 2rem;
    }
}

.node_constant_emitter {
    .node-inputs { 
        display: flex;
        align-items: center;
        gap: 0.8rem; 
    }

    .node-input,
    .node-select {
        min-width: 8rem;
    }

    .node-input {
        max-width: 14rem;
    }

    .row {
        gap: 0.8rem;
    }
}

.node__condition { --node-color: var(--node-red) }
.node__headless { --node-color: var(--node-green) }
.node__logic { --node-color: var(--text--secondary) }
.node__data { --node-color: var(--node-blue) }