.node {
    --node-logic: oklch(0.7 0.14 30);
}

.node {
    position: absolute;
}

.node-header {
    pointer-events: none;

    font-size: 1.28rem;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.node-body {
    background-color: #fff;
    width: min-content;
}

.input, 
.output {
    font-size: 1.28rem;
    color: hsl(0, 0%, 10%);
    text-transform: capitalize;
    text-wrap: nowrap;
}

/* STYLES FOR SPECIFIC NODE TYPES */

.node__entry {
    background-color: hsl(120, 90%, 40%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;
   
    padding: 1.2rem 2.4rem;

    .node-body {
        display: flex;
        align-items: center;
        background-color: transparent;
    }

    .connector {
        fill: #fff;
        stroke: #fff;
    }

    .input, 
    .output {
        display: inline-flex;
        align-items: center;
        grid-column: auto;
    }
}

.node__console-writter {
    border: 1px solid var(--node-logic); 

    .node-body {
        display: flex;
        align-items: center;
        gap: 1.6rem;

        padding: 0.6rem 1.2rem;
    }

    .node-header {
        background-color: var(--node-logic);
        padding: 0.4rem 0.8rem;
    }

    .format-input {
        width: min-content;

        font-size: 1.28rem;
        color: var(--text-secondary);

        order: 2;
    }

    input {
        width: 100%;
        min-width: 17.5rem;
        border: 1px solid var(--text-secondary);
    }

    .input { order: 1 }
    .output {order: 3 }
}
