.main-layout {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(200px, 500px);
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;

    height: 100%;
}

.editor-container,
.console-wrapper,
.properties-wrapper {
    border: var(--border-width-primary) solid var(--accent-primary);
    border-radius: var(--border-radius-primary);
}

.console-wrapper,
.properties-wrapper {
    background-color: var(--background-secondary);
}

/* NODE EDITOR STYLES */

.editor-wrapper {
    grid-row: span 2;

    display: grid;
    grid-template-rows: min-content 1fr;

    max-width: 100%;
}

.editor-pages {
    display: flex;
    gap: 0.5rem;
    min-width: 0;


    & > .page {
        min-width: 2.25rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 2.25rem;
        padding: 0.5rem 0.75rem;
        background-color: var(--background-tertiary);

        border-radius: var(--border-radius-primary) var(--border-radius-primary) 0 0;
        border: var(--border-width-primary) solid var(--accent-primary);
        border-bottom-width: 0;

        color: #dee2e6;
        text-wrap: nowrap;
    }

    & > .page > span {
        min-width: 0;
        min-height: 0;

        flex-basis: 0;
        flex-shrink: 0;
        flex-grow: 1;
        
        overflow: hidden;
    }

    & > .page.active {
        background-color: var(--background-secondary);
    }

    & .close-icon {
        fill: var(--accent-primary);
        height: 100%;
    } 
}

.editor-container {
    display: grid;
    grid-template-areas: "stack";

    height: 100%;
    border-radius: 0 var(--border-radius-primary) var(--border-radius-primary) var(--border-radius-primary);

    overflow: hidden;
    position: relative;
    cursor: grab;

    * {
        user-select: none;    
    }

    > * {
        grid-area: stack;
    } 

    .viewport {
        display: grid;
        grid-template-areas: "stack";

        position: absolute;
        background-color: transparent;
        pointer-events: none;

        width: 100%;
        height: 100%;
    }

    .nodes,
    .connections {
        position: relative;
        background-color: transparent;
        grid-area: stack;

        width: 100%;
        height: 100%;
    }

    .nodes { z-index: 1 }
    .connections { z-index: 0 }

    .grid {
        background-color: #393D3F;
        height: 100%;
        width: 100%;
        overflow: auto;
        pointer-events: none;
    }
}

.connection {
    position: absolute;
    pointer-events: none;

    stroke-width: 3;
    stroke: #fff;
    fill: none;
}

.input-point,
.output-point {
    width: 26px;
    height: 18px;
}

.input-point.used,
.output-point.used {
    fill: #F5F5F5;
}