:root {
    --background-primary: #242423;
    --background-secondary: #393D3F;
    --background-tertiary: #282B2C;

    --accent-primary: #868E96;

    --border-radius-primary: 8px;
    --border-width-primary: 1px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;

    padding: 24px 48px;
    height: 100vh; 

    background-color: var(--background-primary);
}